{% extends 'layouts/admin_base.html' %}
{% block title %}
Update Brand
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <h4>Details</h4>
                <table class="table">
                    <thead class="thead thead-dark">
                        <tr>
                            <th>Attribute:</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{target.name}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{target.desc}}</td>
                        </tr>
                        <tr>
                            <td>Count of Affliated Products:</td>
                            <td>{{len_affliated_products}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <h4>Update Brand</h4>
            <form action="/admin/inventory/update/brands_categories/{{target.uuid}}" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" required class="form-control" value="{{target.name}}"
                    placeholder="Existing Name: {{target.name}}">
                <label for="desc">Brand Description</label>
                <textarea name="desc" required class="form-control mb-2" rows=3
                    placeholder="Existing Description: {{target.desc}}">{{target.desc}}</textarea>
                <input type="submit" class="btn btn-success" name="desc" value="Update" id="">
            </form>
        </div>
        <div class="col-12 mt-5 text-center">
            <h4>Products under {{target.name}}</h4>
        </div>
    </div>
</div>
{% endblock content %}