{% extends 'layouts/admin_base.html' %}
{% block title %}
Add Products
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h3>Add Product</h3>
        {% from '_formhelpers.html' import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token}}
            {{ render_field(form.name, class="form-control", placeholder="Name of Product") }}
            {{ render_field(form.centprice, class="form-control", placeholder="Price in Cents") }}
            {{ render_field(form.discount, class="form-control", placeholder="Percentage off") }}
            {{ render_field(form.stock, class="form-control", placeholder="Default 0") }}
            {{ render_field(form.desc, class="form-control", placeholder="Description of Product") }}

            <label for="brands"><b>Brand</b></label>
            <select name="brand" id="brand" class="form-control">
                {% for brand in brands %}
                <option value="{{brand.uuid}}">{{brand.name}}</option>
                {% endfor %}
            </select>
            <label for="brands" class="mt-2"><b>Category</b></label>
            <select name="category" id="category" class="form-control">
                {% for cat in categories %}
                <option value="{{cat.uuid}}">{{cat.name}}</option>
                {% endfor %}
            </select>

            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-4">{{ render_field(form.image_0, class="form-control")}}</div>
                    <div class="col-md-4">{{ render_field(form.image_1, class="form-control")}}</div>
                    <div class="col-md-4">{{ render_field(form.image_2, class="form-control")}}</div>
                </div>
            </div>
            <input type="submit" value="Add Product" class="btn btn-success mt-2">
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>


{% endblock content %}