{% extends 'layouts/admin_base.html' %}
{% block title %}Products{% endblock title %}
{% block content %}
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>



<div class="container-fluid p-4">
  <h3><b>Product Management</b></h3>
  <a class="btn btn-primary" href="/admin/inventory/add/products">Add Product</a>
  <div id="toolbar">
    <button id="modal_delete" disabled type="button" class="btn btn-danger" data-toggle="modal"
      data-target="#modal-delete"><i class="fa fa-trash"></i> Delete Selected</button>
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">The following items have been selected for
              deletion.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table" id="preview_delete">
              <thead>
                <th>
                  UUID
                </th>
                <th>
                  Name
                </th>
              </thead>
              <tbody>

              </tbody>


            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="btn_delete" data_dismiss="modal" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <table id="table" data-show-export="true" data-toolbar="#toolbar" data-toggle="table" data-show-toggle="true"
    data-search="true" data-click-to-select="true" data-search-align="right" class="table-striped"
    data-url="/admin/inventory/products/data_table" data-show-columns="true" data-show-columns-toggle-all="true"
    data-show-refresh="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" data-toggle="table"
    data-id-field="uuid">
    <thead>
      <tr>
        <th data-checkbox="true" data-formatter="stateFormatter" data-align="right"></th>
        <th data-field="uuid" data-align="right">UUID</th>
        <th data-formatter="render_image" data-align="center">Image</th>
        <th data-field="name" data-sortable="true" data-align="right">Name</th>
        <th data-field="stock" data-sortable="true" data-align="right">Stock</th>
        <th data-field="price" data-sortable="true" data-align="right">Price ($)</th>
        <th data-field="discount" data-sortable="true" data-align="right">Discount (%)</th>
        <th data-field="price_final" data-sortable="true" data-align="right">Final Price ($)</th>
        <th data-formatter="render_edit" data-align="right">View</th>
        <th data-formatter="render_delete" data-align="right">Delete</th>
      </tr>
    </thead>
  </table>
</div>

<script src="{{url_for('static', filename='js/config_table.js')}}"></script>
<script>
  function render_delete(index, row) {
    if (!(row.uuid in ["1", "0"])) {
      return `<button type="button" class="btn btn-transparent btn-sm" data-toggle="modal" data-target="#delete_${row.uuid}">
                        <i class="fas fa-trash" style="color: red;"></i>
                    </button>
                    <div class="modal fade" id="delete_${row.uuid}" tabindex="-1" role="dialog"
                        aria-labelledby="delete_Label_${row.uuid}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_Label_${row.uuid}">${row.name}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <span>Are you sure you want to delete item: <b>${row.name}</b>?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <button onclick="delete_entries(['${row.uuid}'])" data-dismiss="modal" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                  </div>`
    } else {
      return
    }
  }

  $("#table").bootstrapTable('hideColumn', 'uuid')

  function render_image(index, row) {
    return `
      <img class='img-fluid' style="max-width: 10%;" src='../../../static/media/${row.image}'></img>`
  }

  function render_edit(index, row) {
    if (!(row.uuid in ["1", "0"])) {
      return `<a href="/admin/inventory/update/products/${row.uuid}" type="button" class="btn btn-transparent btn-sm">
                <i class="fas fa-edit" style="color: orange;"></i>
              </a>`}
    else {
      return
    }
  }

  function delete_entries(entries) {
    $table.bootstrapTable('remove', {
      field: 'uuid',
      values: entries
    })
    console.log(entries)
    fetch(`${window.location.origin}/admin/delete/products`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(entries),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })
    $('.modal-backdrop').removeClass('modal-backdrop');
    console.log("completed")
  }
</script>
{% endblock content %}