<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
  {% block links %}
  {% endblock links %}
</head>

<body style="height: 100vh;">

  {% block navbar %}
  {% include 'includes/_admin_nav.html' %}
  {% endblock %}
  {% block blank_space %}
  {% endblock blank_space %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% include 'includes/_sidebar.html' %}
  <div class="page-content p-5" id="content">
    <div class="container-fluid">
      <div class="pt-5"></div>
      {% block content %}
      {% endblock %}
    </div>
  </div>

  {% block scripts %}
  <!-- jQuery 3.5.1, Popper 1.16.1, Bootstrap 4.5.2 JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  {% endblock %}
  {% block js %}
  {% endblock js %}
  <script src="{{url_for('static', filename='js/admin.js')}}"></script>
</body>
<script>
  setTimeout(function () {
      $("#flashed_messages").hide()
  }, 1000);
</script>
</html>