<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/user.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock title %}</title>

    {% block links %}
    {% endblock links %}
</head>

<body>

    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock navbar %}
    {% block blank_space %}
    <div style="margin-bottom: 8rem;">
    </div>
    {% endblock blank_space %}

    {% block flashed %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <div class="container" id="flashed_messages">
        <div class="row">
            <div class="col-lg-4"></div>
            {% for message in get_flashed_messages() %}
            <p class="alert alert-success alert-{{alert_cat}} col-lg-4" role="alert">{{ message }}
            </p>
            <div class="col-lg-4"></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endblock flashed %}

    {% block content %}
    {% endblock %}
    {% block footer %}
    {% include 'includes/_footer.html' %}
    {% endblock footer %}
    {% block scripts %}

    {% endblock scripts %}
    {% block js %}
    {% endblock js %}
</body>
<script>
    // hidding flashes after 2 seconds
    setTimeout(function () {
        $("#flashed_messages").hide()
    }, 2000);
</script>

</html>