-{% extends 'layouts/admin_base.html' %}
{% block title %}
User Inquiry
{% endblock title %}
{% block content %}
<div class="container col-lg-10">
    <h1>Individual Inquiry</h1>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td><b>{{inquiries.sender_name}}</b></td>
            </tr>
            <tr>
                <td>UUID No.</td>
                <td>{{inquiries.uuid}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{inquiries.sender_email}}</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>{{inquiries.subject}}</td>
            </tr>
            <tr>
                <td>Content</td>
                <td>{{inquiries.content}}</td>
            </tr>
            <tr>
                <td>Date Submitted</td>
                <td>{{inquiries.date_created.strftime("%d/%m/%Y %H:%M:%S")}}</td>
            </tr>
            <tr>
                <td>Reply Status</td>
                {% if inquiries.status==False %}
                <td><b>Closed</b></td>
                {% else %}
                <td><b>Open</b></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
    <h2 class="mt-2"> Actions </h2>
    <a href="/admin/inquiries" class="btn btn-sm btn-primary mr-2">Return to Previous Page</a>
    {% from '_macros.html' import delete %}
    {{ delete(item=inquiries, table='inquiries') }}
    <a href="/admin/inquiries/update/{{inquiries.uuid}}" class="btn btn-sm btn-warning ml-2">Mark as closed</a>
    <a id="reply" class="btn btn-sm btn-info ml-2">Reply</a>
    <div id="reply-div" class="card bg-secondary shadow mt-3">
        <div class="card-header border-0 ">
            <h5 class="mb-3">Reply back to: {{inquiries.sender_name}}</h5>
            {% from '_formhelpers.html' import render_field %}
            <form method="POST" enctype="multipart/form-data">
                {{ render_field(form.reply, class="form-control", placeholder="Reply")}}
                <input type="submit" value="Submit" class="btn btn-info mt-2">
            </form>
        </div>
    </div>

</div>
<script>
    document.getElementById("reply-div").style.display = "none"
    function OpenReply() {
        document.getElementById("reply-div").style.display = "block";
    }
    document.getElementById('reply').addEventListener('click', OpenReply);
</script>
{% endblock content %}