-{% extends 'layouts/admin_base.html' %}
{% block title %}
User Inquiry 
{% endblock title %}
{% block content %}
<div class="container"></div>
    <h1>Individual Inquiry</h1>
    <br>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td><b>{{inquiries.sender_name}}</b></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{inquiries.sender_email}}</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>{{inquiries.subject}}</td>
            </tr>
            <tr>
                <td>Content</td>
                <td>{{inquiries.content}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2 class="mt-2"> Actions </h2>
    <a href="{{url_for('admin_users.page_table_inquiries')}}" class="btn btn-sm btn-info">Return to Previous Page</a>
    {% from '_macros.html' import delete %}
    {{ delete(item=inquiries, table='inquiries') }}
</div>
{% endblock content %}