{% extends 'layouts/admin_base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="container-fluid p-6">
    <h2>Dashboard Page</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 row-lg-3"  style="border:1px solid #cecece;">
                <h3>New Orders</h3>
            </div>
            <div class="col-12 col-lg-3 row-lg-3"  style="border:1px solid #cecece;">
                <h3>Total sales</h3>
            </div>
            <div class="col-12 col-lg-3 row-lg-3"  style="border:1px solid #cecece;">
                <h3>Total expenses</h3>
            </div>
            <div class="col-12 col-lg-3 row-lg-3"  style="border:1px solid #cecece;">
                <h3>New Users</h3><canvas id="newUserChart"></canvas>
            </div>
            <div class="col-12 col-lg-6"  style="border:1px solid #cecece;">
                <h3>Overall Best Sellers</h3><canvas id="barChart"></canvas>
            </div>
            <div class="col-12 col-lg-6"  style="border:1px solid #cecece;">
                <h3>Top selling products</h3>
            </div>
            <div class="col-12 col-lg-4 row-lg-4"  style="border:1px solid #cecece;">
                <h3>Recent Orders</h3>
            </div>
            <div class="col-12 col-lg-4 row-lg-4"  style="border:1px solid #cecece;">
                <h3>Recently Added Products</h3>
            </div>
            <div class="col-12 col-lg-4 row-lg-4"  style="border:1px solid #cecece;">
                <h3>Recent Buyers</h3>
            </div>
        </div>
    </div>
</div>


<script>
    // New Users
    var ctx = document.getElementById('newUserChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
    datasets: [{
        label: 'New User Count',
        data: [],
        backgroundColor: [
        'rgba(128, 0, 0, 1)',
        'rgba(255, 255, 155, 1)',
        'rgba(0, 206, 86, 1)',
        'rgba(0, 0, 155, 1)',
        'rgba(128, 0, 0, 1)',
        'rgba(128, 0, 0, 1)',
    ],
        borderColor: [
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
    ],
        borderWidth: 2,
        lineTension: 0
        }]
    },
    options: {
        legend: {
            labels: {
                fontSize: 24,
                    fontColor: 'white',
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }]
        }
    }
});

// Overall Best Sellers Chart
    var ctx = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels| safe}},
    datasets: [{
        label: 'Number of products sold',
        data: {{ datasets| safe}},
        backgroundColor: [
        'rgba(128, 0, 0, 1)',
        'rgba(255, 255, 155, 1)',
        'rgba(0, 206, 86, 1)',
        'rgba(0, 0, 155, 1)',
        'rgba(128, 0, 0, 1)',
        'rgba(128, 0, 0, 1)',
    ],
        borderColor: [
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
    ],
        borderWidth: 2,
        lineTension: 0
        }]
    },
    options: {
        legend: {
            labels: {
                fontSize: 24,
                    fontColor: 'white',
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }]
        }
    }
});
</script>
{% endblock content %}