{% extends 'layouts/admin_base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid p-4">
    <h2>Dashboard Page</h2>
    <div class="row">
        <div class="col-12 col-lg-3 row-lg-6" style="border:1px solid #cecece;">
            <h3>New Orders</h3><canvas id="newOrderChart"></canvas>
        </div>
        <div class="col-12 col-lg-3 row-lg-6" style="border:1px solid #cecece;">
            <h3>Total sales</h3><canvas id="totalSalesChart"></canvas>
        </div>
        <div class="col-12 col-lg-3 row-lg-6" style="border:1px solid #cecece;">
            <h3>Total expenses</h3><canvas id="totalExpensesChart"></canvas>
        </div>
        <div class="col-12 col-lg-3 row-lg-6" style="border:1px solid #cecece;">
            <h3>New Users Today</h3><canvas id="newUserChart"></canvas>
        </div>
        <div class="col-12 col-lg-6" style="border:1px solid #cecece;">
            <h3>Overall Best Sellers</h3><canvas id="barChart"></canvas>
        </div>
        <div class="col-12 col-lg-6" style="border:1px solid #cecece;">
            <h3>Recently Added Products (3 Days)</h3>
            <table id="table" data-show-export="true" data-toolbar="#toolbar" data-toggle="table" data-show-toggle="true"
            data-search="true" data-click-to-select="true" data-search-align="right" class="table-striped"
            data-url="/admin/inventory/products/data_table" data-show-columns="true" data-show-columns-toggle-all="true"
            data-show-refresh="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" data-toggle="table"
            data-id-field="uuid">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true" data-align="right">Name</th>
                        <th data-field="stock" data-sortable="true" data-align="right">Stock</th>
                        <th data-field="discount" data-sortable="true" data-align="right">Discount (%)</th>
                        <th data-field="price_final" data-sortable="true" data-align="right">Final Price ($)</th>
                    </tr>
                </thead>
            </table>         
        </div>
    </div>
</div>


<script>
    // New Orders
    var ctx = document.getElementById('newOrderChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ days| safe}},
    datasets: [{
        fill: false,
        label: 'Order Count (Weekly)',
        data: [1, 0, 0, 2, 0, 5, 21],
        backgroundColor: [
            'rgba(255, 0, 34, 1)',
        ],
        borderColor: [
            'rgba(255, 0, 34, 1)',
        ],
        borderWidth: 1,
        lineTension: 0
    }]
    },
    options: {
        legend: {
            labels: {
                display: false
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }],                   
        }
    }
});

    // Sales Revenue
    var ctx = document.getElementById('totalSalesChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ days| safe}},
    datasets: [{
        fill: false,
        label: 'Sales revenue (Weekly)',
        data: [89, 0, 0, 351, 0, 1342, 2542],
        backgroundColor: [
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
            'rgba(255, 0, 34, 1)',
        ],
        borderColor: [
            'rgba(255, 0, 34, 1)',
        ],
        borderWidth: 1,
        lineTension: 0
    }]
},
    options: {
        legend: {
            labels: {
                display: false
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }],                   
    }
    }
});

    // Total Expenses
    var ctx = document.getElementById('totalExpensesChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ quarter2| safe}},
    datasets: [{
        fill: false,
        label: 'Total Expenses (Last Quarter)',
        data: {{ quarter2expenses| safe}},
        backgroundColor: [
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
        'rgba(255, 0, 34, 1)',
    ],
        borderColor: [
        'rgba(255, 0, 34, 1)',
    ],
        borderWidth: 1,
        lineTension: 0
    }]
},
    options: {
        legend: {
            labels: {
                display: false
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }],                   
    }
    }
});

    // New Users
    var ctx = document.getElementById('newUserChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Today'],
    datasets: [{
        fill: false,
        label: 'User Count (Daily)',
        data: {{ total_users| safe}},
        backgroundColor: [
            'rgba(255, 0, 34, 1)',
        ],
        borderColor: [
            'rgba(255, 0, 34, 1)',
        ],
        borderWidth: 1,
        lineTension: 0
    }]
    },
    options: {
        legend: {
            labels: {
                display: false
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }],                   
        }
    }
});

    // Overall Best Sellers Chart
    var ctx = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels| safe}},
    datasets: [{
        label: 'Number of products sold',
        data: {{ datasets| safe}},
        backgroundColor: [
        'rgba(128, 0, 0, 1)',
        'rgba(255, 255, 155, 1)',
        'rgba(0, 206, 86, 1)',
        'rgba(0, 0, 155, 1)',
        'rgba(128, 0, 0, 1)',
        'rgba(128, 0, 0, 1)',
    ],
        borderColor: [
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
        'rgba(0, 0, 0, 1)',
    ],
        borderWidth: 2,
        lineTension: 0
        }]
    },
    options: {
        legend: {
            labels: {
                display: false
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 16,
                    fontColor: 'white',
                    beginAtZero: true
                }
                ,
                gridLines: {
                    color: "white"
                }
            }],
                xAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: 'white',
                        beginAtZero: true
                    },
                    gridLines: {
                        color: "white"
                    }
                }]
        }
    }
});
</script>
{% endblock content %}