<style>
    #lineChart {
        font-weight: bold
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% extends 'layouts/admin_base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1>Dashboard Page</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="lineChart">
    </div>
    <script>
        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels| safe}},
        datasets: [{
            label: 'Number of products sold',
            data: {{ datasets| safe}},
            backgroundColor: [
            'rgba(128, 0, 0, 1)',
            'rgba(255, 255, 155, 1)',
            'rgba(0, 206, 86, 1)',
            'rgba(0, 0, 155, 1)',
            'rgba(128, 0, 0, 1)',
            'rgba(128, 0, 0, 1)',
        ],
            borderColor: [
            'rgba(0, 0, 0, 1)',
            'rgba(0, 0, 0, 1)',
            'rgba(0, 0, 0, 1)',
            'rgba(0, 0, 0, 1)',
            'rgba(0, 0, 0, 1)',
        ],
            borderWidth: 2,
            lineTension: 0
            }]
        },
        options: {
            legend: {
                labels: {
                    fontSize: 24
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontSize: 16,
                        fontColor: '#000',
                        beginAtZero: true
                    }
                }],
                    xAxes: [{
                        ticks: {
                            fontSize: 16,
                            fontColor: '#000',
                            beginAtZero: true
                        }
                    }]
            }
        }
    });
    </script>
    </canvas>
    <div class="row">
        <form action="" method="POST">
            <div class="col-lg-6"><label for="brand">Filter by brand</label><input required type="text" name="brand"
                    placeholder="Enter brand name"></div>
            <div class="col-lg-6"><label for="product">Filter by product</label><input required type="text"
                    name="product" placeholder="Enter product name"></div>
            <input type="submit" class="btn btn-md btn-success">
        </form>
    </div>
</div>
{% endblock content %}