{% extends 'layouts/admin_base.html' %}
{% block title %}
Settings
{% endblock title %}
{% block content %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h3><b>Notifications</b></h3>
            <form method="POST">
                <div class="form-group">
                    <label for="stock">Stock Threshold</label>
                    <input type="number" class="form-control" name="stock" id="stock" required pattern="[0-9]*"
                        placeholder="Threshold before a notification is sent.">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>
{% endblock content %}