<nav class="navbar navbar-light fixed-top" style="background-color: black;">
  <button id="sidebarCollapse" type="button" class="btn btn-dark shadow-sm px-3 ml-3" onclick="sidebar_state()">
    <small class="text-uppercase font-weight-bold"><i class="far fa-bars"></i></small>
  </button>
  <a class="navbar-brand text-light font-weight-bold mr-auto ml-3" href="{{url_for('base.page_home')}}">Landing Page</a>
  <a class="navbar-brand text-light font-weight-bold ml-3" href="{{url_for('auth.page_logout')}}">Logout<i class="ml-2 fas fa-sign-out-alt"></i></a>


</nav>