<nav class="navbar navbar-light fixed-top" style="background-color: black;">
  <button type="button" id="sidebarCollapse" class="btn" style="background-color: black; outline: none;">
    <i class="far fa-bars"></i>
  </button>
  <a class="navbar-brand text-light font-weight-bold mr-auto ml-3" href="{{url_for('base.page_home')}}">Landing
    Page</a>
  <a class="navbar-brand text-light font-weight-bold ml-3" href="{{url_for('auth.page_logout')}}">Logout<i
      class="ml-2 fas fa-sign-out-alt"></i></a>
</nav>