{% extends 'layouts/admin_base.html' %}
{% block title %}
Promo Items
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Promo Products</h3>
            <div class="md-form mt-0 mb-5">
                <div class="input-group" style="width: 20%;"><i class="fa fa-fw fa-search mt-2"></i><input
                        class="form-control" type="text" placeholder="Search" aria-label="Search"></div>
            </div>
            <h4>Existing Products</h4>
            <div style="height:20rem;overflow-y: scroll;">
                <table class="table table-striped header-fixed">
                    <thead>
                        <tr>
                            <th scope=" col">Front Page</th>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in products %}
                        <tr id={{entry.uuid}} class="">
                            <th scope="row">
                                <form action="" method="POST">
                                    <input hidden name="uuid" value="{{entry.uuid}}"></input> <input type="submit"
                                        class="btn btn-success" value="Add" id="">
                                </form>
                            </th>
                            <td>{{loop.index}}</th>
                            <td>{{entry.name}}</td>
                            <td>{{entry.centprice}}</td>
                            <td>{{entry.stock}}</td>
                            <td>{{entry.discount}}%</td>
                            <td>{{bc[entry.brand].name}}</td>
                            <td>{{bc[entry.cat].name}}</td>
                            <td><img width="35" src="{{url_for('static', filename='media/'+entry.images[0])}}"
                                    alt="image">
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-5"></div>
            <h4>Featured Products</h4>
            <div style="height:20rem;overflow-y: scroll;">
                <table class="table table-striped header-fixed">
                    <thead>
                        <tr>
                            <th scope="col">Actions</th>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in promo %}
                        {% from '_macros.html' import delete %}
                        {{ delete(item=product_keys[entry], table="user_pages") }}
                        <td>{{loop.index}}</th>
                        <td>{{product_keys[entry].name}}</td>
                        <td>{{product_keys[entry].centprice}}</td>
                        <td>{{product_keys[entry].stock}}</td>
                        <td>{{product_keys[entry].discount}}</td>
                        <td>{{bc[product_keys[entry].brand].name}}</td>
                        <td>{{bc[product_keys[entry].cat].name}}</td>
                        <td><img width=" 35"
                                src="{{url_for('static', filename='media/'+product_keys[entry].images[0])}}"
                                alt="image">
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container col-lg-12">
                <h3>Preview</h3>
                <div class="row">
                    <iframe class="col-12" height="800" src="/" style="overflow:auto!important"
                        frameborder="0"></iframe>
                </div>
            </div>
            <div class="pb-5"></div>
        </div>
    </div>
    {% endblock content %}