{% extends 'layouts/base.html' %}
{% block title %}
{{current_user.username}}
{% endblock title %}

{% block content %}
<div class="container mt-7">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 order-lg-1">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <h3>My account</h3>
                    <form method=POST enctype="multipart/form-data">
                        <div class="row">
                            {% from '_formhelpers.html' import render_field %}
                            <div class="col-lg-12">
                                <div class="form-group focused">
                                    {{ render_field(form.oldpassword, class="form-control") }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group focused">
                                    {{ render_field(form.password, class="form-control") }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ render_field(form.confirm, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <!-- Description -->
                        <div class="col-12 text-right">
                            <p><input type=submit value="Save" class="btn btn-dark mt-2"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
{% block footer %}
{% endblock footer %}
{% endblock content %}