{% extends 'layouts/base.html' %}
{% block title %}
Products
{% endblock title %}
{% block content %}
<div class="container-fluid px-5">
    <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000"
        style="position: absolute; top: 15%; transform: translate(-50%, -50%); left:50%; z-index: 999;">
        <div class="toast-header">
            &#128276; &nbsp;
            <strong class="mr-auto">Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="alert_message" style="font-weight: bolder;">
            Hello, world! This is a toast message.
        </div>
    </div>
    <div class="row mb-3 ml-2">
        {% if param_search|length > 0 %}
        <p>{{len_products}}{% if len_products > 1 %}
            results
            {% else %}
            result
            {% endif %} for <span id="query">'{{param_search}}'</span>
        </p>
        {% endif %}
        <div class="ml-auto pr-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm bg-light" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item bg-primary text-white" style="cursor: pointer;" id="filter-submit">
                        Submit
                    </div>
                    <div class="dropdown-item">
                        Brands:
                    </div>
                    {% for x in bc %}
                    {% if bc[x].role == "brand" %}
                    <div class="dropdown-item filter-dropdown">
                        <input onclick="add_filters(this, '{{bc[x].role}}')" type="checkbox" id="{{bc[x].uuid}}"
                            name="{{bc[x].uuid}}">
                        <label for="{{bc[x].uuid}}">{{bc[x].name}}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="dropdown-item">
                        Categories:
                    </div>
                    {% for x in bc %}
                    {% if bc[x].role == "cat" %}
                    <div class="dropdown-item filter-dropdown">
                        <input onclick="add_filters(this, '{{bc[x].role}}')" type="checkbox" id="{{bc[x].uuid}}"
                            name="{{bc[x].uuid}}">
                        <label for="{{bc[x].uuid}}">{{bc[x].name}}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class=pr-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm bg-light" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                        href="/catalog/?page={{pg_index}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by=price_asc&search={{param_search}}">Price:
                        Low to High</a>
                    <a class="dropdown-item"
                        href="/catalog/?page={{pg_index}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by=price_desc&search={{param_search}}">Price:
                        High to Low</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        {% for product in shown_products %}
        <div class="col-sm-12 col-lg-2 col-md-2">
            <div class="card card-product">
                <div class="img-product">
                    <a href="/catalog/product/{{product.uuid}}">
                        <img class="card-img img-fluid" src="{{url_for('static', filename='media/'+product.images[0])}}"
                            alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{bc[product.cat].name}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{bc[product.brand].name}}</h6>
                    <p class="card-text">{{product.desc}}</p>
                    <div class="buy d-flex justify-content-between">
                        {% if product.discount > 0 %}
                        <div class="price text-success">
                            <h5 class="text-danger"><del>${{"%.2f"|format(product.centprice/100)}}</del></h5>
                            <h5 class="">${{"%.2f"|format(product.centprice_final/100)}}</h5>
                        </div>
                        {% else %}
                        <div class="price text-success">
                            <h5 class="">${{"%.2f"|format(product.centprice/100)}}</h5>
                        </div>
                        {% endif %}
                    </div>
                    <div class="justify-content-center row">
                        <input type="hidden" name="quantity" id="{{product.uuid}}_quantity" value="1">
                        <button class="btn btn-success btn-sm col-10" onclick="add_cart(this)" id="{{product.uuid}}"><i
                                class="fas fa-shopping-cart mr-2"></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="..." class="mt-5">
        <ul class="pagination justify-content-center">
            {% if pg_index-1 >= 0 %}
            <li class="page-item">
                <a href="/catalog/?page={{pg_index-1}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}"
                    class="page-link">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for i in range(pg_total) %}
            {% if i == pg_index %}
            <li class="page-item active"><a class="page-link"
                    href="/catalog/?page={{i}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">{{i+1}}<span
                        class="sr-only"></span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="/catalog/?page={{i}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">{{i+1}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only"></span>
                    </span>
                </li> -->
            {% if pg_index+1 <= pg_total-1 %} <li class="page-item">
                <a class="page-link"
                    href="/catalog/?page={{pg_index+1}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                {% endif %}
        </ul>
    </nav>
</div>
<!-- add to cart function and alerts -->
<style>
    #query {
        font-weight: bold;
        color: darkred;
    }
</style>
<script>
    $(".filter-dropdown").click(
        function (e) {
            e.stopPropagation();
        }
    )

    var filter_brand = []
    var filter_cat = []
    function add_filters(item, role) {
        if (role == "brand") {
            if (filter_brand.includes(item.id)) {
                filter_brand.pop(item.id)
            } else {
                filter_brand.push(item.id)
            }
        } else {
            if (filter_cat.includes(item.id)) {
                filter_cat.pop(item.id)
            } else {
                filter_cat.push(item.id)
            }
        }
        console.log(filter_brand)
        console.log(filter_cat)
    }

    $("#filter-submit").click(function () {
        param_filter_brand = filter_brand.join(",")
        param_filter_cat = filter_cat.join(",")
        window.location.href = `${window.location.origin}/catalog/?page={{pg_index}}&size={{pg_size}}&filter_by=${param_filter_brand}+${param_filter_cat}&sort_by={{param_sort}}`
    })

    function add_cart(item) {
        var item_id = item.id;
        var item_quantity = $(`#${item_id}_quantity`).val()
        var item = {
            "id": item_id,
            "quantity": item_quantity
        };

        fetch(`${window.location.origin}/user/add_cart`,
            {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(item),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then(
                response => response.json()
            ).then(function (data) {
                let cart_count = data.item_in_cart;
                let message = data.alert_message;
                document.getElementById("number_of_items").innerHTML = cart_count;
                document.getElementById("alert_message").innerHTML = message;
                $('.toast').toast('show');
                console.log(cart_count)
            }).catch(function (error) {
                console.log("Fetch error: " + error);
            });

    };
</script>
{% endblock content %}