{% extends 'layouts/base.html' %}
{% block title %}
Products
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        {% if param_search|length > 0 %}
        <p>{{len_products}}{% if len_products > 1 %}
            results
            {% else %}
            result
            {% endif %} for <span id="query">'{{param_search}}'</span>
        </p>
        {% endif %}
        <div class="ml-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-sm bg-light" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                        href="/catalog/?page={{pg_index}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by=price_asc&search={{param_search}}">Price:
                        Low to High</a>
                    <a class="dropdown-item"
                        href="/catalog/?page={{pg_index}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by=price_desc&search={{param_search}}">Price:
                        High to Low</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in shown_products %}
        <div class="col-6 col-lg-3 col-md-4">
            <div class="card card-product">
                <div class="img-product">
                    <a href="/catalog/product/{{product.uuid}}">
                        <img class="card-img img-fluid" src="{{url_for('static', filename='media/'+product.images[0])}}"
                            alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{bc[product.cat].name}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{bc[product.brand].name}}</h6>
                    <p class="card-text">{{product.desc}}</p>
                    <div class="buy d-flex justify-content-between">
                        <div class="price text-success">
                            <h5 class="">${{"%.2f"|format(product.centprice/100)}}</h5>
                        </div>
                    </div>
                    <div class="justify-content-center row">
                        <input type="hidden" name="quantity" id="{{product.uuid}}_quantity" value="1">
                        <button class="btn btn-success btn-sm col-10" onclick="add_cart(this)" id="{{product.uuid}}"><i
                                class="fas fa-shopping-cart mr-2"></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="..." class="mt-5">
        <ul class="pagination justify-content-center">
            {% if pg_index-1 >= 0 %}
            <li class="page-item">
                <a href="/catalog/?page={{pg_index-1}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}"
                    class="page-link">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for i in range(pg_total) %}
            {% if i == pg_index %}
            <li class="page-item active"><a class="page-link"
                    href="/catalog/?page={{i}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">{{i+1}}<span
                        class="sr-only"></span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="/catalog/?page={{i}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">{{i+1}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only"></span>
                    </span>
                </li> -->
            {% if pg_index+1 <= pg_total-1 %} <li class="page-item">
                <a class="page-link"
                    href="/catalog/?page={{pg_index+1}}&size={{pg_size}}&filter_by={{param_filter}}&sort_by={{param_sort}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                {% endif %}
        </ul>
    </nav>
</div>
<!-- add to cart function and alerts -->
<style>
    #query {
        font-weight: bold;
        color: darkred;
    }
</style>
<script>
    function add_cart(item) {
        var item_id = item.id;
        var item_quantity = $(`#${item_id}_quantity`).val()
        var item = {
            "id": item_id,
            "quantity": item_quantity
        };

        fetch(`${window.location.origin}/user/add_cart`,
            {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(item),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then(
                response => response.json()
            ).catch(function (error) {
                console.log("Fetch error: " + error);
            });

    };
</script>
{% endblock content %}