{% extends 'layouts/base.html' %}
{% block title %}
{{target.name}}
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="row pl-5 pr-5">
                <div class="col-12">
                    <img id="image_main" class="img-fluid"
                        src="{{url_for('static', filename='media/'+target.images[0])}}" alt="{{target.name}}"></img>
                </div>
                <div class="col-12">
                    <div class="row pl-5 pr-5" id="image_side">
                        <img src="{{url_for('static', filename='media/'+target.images[0])}}" alt="{target.name}}"
                            class="p-3 col-4 img-fluid">
                        <img src="{{url_for('static', filename='media/'+target.images[1])}}" alt="{{target.name}}"
                            class="p-3 col-4 img-fluid">
                        <img src="{{url_for('static', filename='media/'+target.images[2])}}" alt="{{target.name}}"
                            class="p-3 col-4 img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{target.name}}</h3>
            <hr>
            {% if target.discount > 0 %}
            <h5><del id="Original">${{"%.2f"|format(target.centprice/100)}}</del></h5>
            <h4 class="font-weight-bold text-danger ">${{"%.2f"|format((target.centprice/100)*(1-target.discount/100))}}
            </h4>
            <h6> (Save {{target.discount}}%)</h6>
            {% else %}
            <h4 class="font-weight-bold">${{target.centprice/100}}</h4>
            {% endif %}
            <button onclick="add_cart({{target.uuid}})" class="btn btn-success btn-sm-md btn-lg-sm"><i
                    class="fas fa-shopping-cart mr-1"></i>Add To
                Cart</button>
            </form>
            <div class="mt-4">
                <h5>Description</h5>
                <p>{{target.desc}}</p>
            </div>
        </div>
    </div>
</div>

<script>
    // focus on individual image onclick
    var image_side = $("#image_side").find("img")
    $(image_side[0]).click(full_image_0);
    $(image_side[1]).click(full_image_1);
    $(image_side[2]).click(full_image_2);

    function full_image_0() {
        $("#image_main").attr("src", "{{url_for('static', filename='media/'+target.images[0])}}")
    }

    function full_image_1() {
        $("#image_main").attr("src", "{{url_for('static', filename='media/'+target.images[1])}}")
    }

    function full_image_2() {
        $("#image_main").attr("src", "{{url_for('static', filename='media/'+target.images[2])}}")
    }
</script>

<script>
    function add_cart(item_id) {
        var item_quantity = $(`#${item_id}_quantity`).val()
        var item = {
            "id": item_id,
            "quantity": item_quantity
        };

        fetch(`${window.location.origin}/user/add_cart`,
            {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(item),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then(
                response => response.json()
            ).catch(function (error) {
                console.log("Fetch error: " + error);
            });

    };
</script>

<style>
    img:hover {
        cursor: pointer;
        border: 2px solid #d0d0d0;
    }
</style>
{% endblock %}