{% extends 'layouts/base.html' %}
{% block title %}
{{products.name}}
{% endblock title %}

{% block content %}
<script>
    var OriginalPriceCalc1 = {{products.centprice}}*100;
    var Discount = {{ products.discount }};
    var OriginalPriceFinal = OriginalPriceCalc1/Discount;
    function get_original_price() {
        document.getElementById('Original').textContent = "$" + OriginalPriceFinal/100;
    };
</script>
<body onload="get_original_price()"></body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static', filename='media/'+products.images[0])}}" alt="{{products.name}}" width="400"
                height="400"></img>
        </div>
        <div class="col-md-6">
            <h3>{{products.name}}</h3>
            <hr>
            {% if products.discount > 0 %}
                <h4 class="font-weight-bold text-danger ">${{products.centprice/100}}</h4>
                <h4><del id="Original">Original Price</del></h4>
                <h5> (Save {{products.discount}}%)</h5>
            {% else %}
                <h4 class="font-weight-bold text-danger ">${{products.centprice/100}}</h4>
            {% endif %}
            <form action="{{url_for('auth.add_cart')}}" method="POST">
                <input type="hidden" name="product_id" value="{{products.uuid}}">
                <input type="hidden" name="quantity" value="1">
                <button class="btn btn-danger"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
            <img src="{{url_for('static', filename='media/'+products.images[0])}}" alt="{products.name}}" width="120"
                height="120" class="p-3">
            <img src="{{url_for('static', filename='media/'+products.images[1])}}" alt="{{products.name}}" width="120"
                height="120" class="p-3">
            <img src="{{url_for('static', filename='media/'+products.images[2])}}" alt="{{products.name}}" width="120"
                height="120" class="p-3">
        </div>
    </div>

    <hr>

                <h2> Product Description </h2>
                <p>{{products.desc}}</p>
</div>

<script>
    var b_image = document.getElementById('b_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');
    s_image[0].addEventListener('click', full_image_a);
    s_image[1].addEventListener('click', full_image_b);
    s_image[2].addEventListener('click', full_image_c);


    function full_image_a() {
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src= '{{url_for('static', filename ='media/'+products.images[0])}}' width='400' height='400'>"
    }

    function full_image_b() {
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src= '{{url_for('static', filename = 'media/'+products.images[1])}}' width='400' height='400'>"
    }

    function full_image_c() {
            var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src= '{{url_for('static', filename = 'media/'+products.images[2])}}' width='400' height='400'>"        
    }
</script>
{% endblock %}