{% extends 'layouts/base.html' %}
{% block title %}
Inquiries
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        {% from '_formhelpers.html' import render_field %}
        <div class="col-lg-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <div class="col-12" id="flashed_messages">
                <div class="row">
                    {% for message in get_flashed_messages() %}
                    <p class="alert alert-danger col-12 role= alert">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            <h3>Inquiries</h3>
            <form method=post enctype="multipart/form-data">
                <div>
                    {{ render_field(inquiry.name, class="form-control") }}
                    {{ render_field(inquiry.email, class="form-control") }}
                    {{ render_field(inquiry.subject, class="form-control") }}
                    {{ render_field(inquiry.msg, class="form-control") }}
                </div>
                <p><input type=submit value="Submit" class="btn btn-dark mt-2"></p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block flashed %}
{% endblock flashed %}
<style>
    body {
        overflow: hidden;
    }
</style>