{% extends 'layouts/base.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        {% from '_formhelpers.html' import render_field %}
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for msg in messages %}
                    <p class="alert alert-danger">{{msg}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="col-12">
                    <div class="card bg-secondary shadow">
                        <div class="card-body">
                            <h3>Login</h3>
                            <div class="mx-5"></div>
                            <form method=POST enctype="multipart/form-data">
                                <div>
                                    {{ render_field(form.username, class="form-control") }}
                                    {{ render_field(form.password, class="form-control") }}
                                </div>
                                <hr class="my-4">
                                <p><input type=submit value="Login" class="btn btn-dark mt-2"></p>
                            </form>
                            Don't have an account? <a href="auth/register" class="text-info">Sign
                                Up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block flashed %}
{% endblock flashed %}
<style>
    body {
        overflow: hidden;
    }
</style>