{% extends 'layouts/base.html' %}
{% block title %}
{{current_user.username}}
{% endblock title %}
{% block content %}
<div class="container-fluid mt-7">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 order-lg-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-12">
                        </div>
                        <div class="col-8">
                            <h3 class="mb-0">My account</h3>
                        </div>
                        <div class="col-4 text-right">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Settings
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{url_for('auth.page_update_profile')}}">Edit
                                        Address</a>
                                    <a class="dropdown-item" href="{{url_for('auth.page_update_password')}}">Change
                                        Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label readonly class="form-control-label" for="input-username">Username</label>
                                        <input readonly type="text" id="input-username"
                                            class="form-control form-control-alternative" placeholder="Username"
                                            value="{{current_user.username}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input readonly type="email" id="input-email"
                                            class="form-control form-control-alternative"
                                            placeholder="{{current_user.email}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input readonly id="input-address" class="form-control form-control-alternative"
                                            placeholder="Home Address" value="{{current_user.full_address('all')}}"
                                            type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-street">Street</label>
                                        <input readonly type="text" id="input-street"
                                            class="form-control form-control-alternative" placeholder="street"
                                            value="{{current_user.full_address('street')}}">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-unit_no">Unit No</label>
                                        <input readonly type="text" id="input-unit_no"
                                            class="form-control form-control-alternative" placeholder="unit_no"
                                            value="{{current_user.full_address('unit_no')}}">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-unit_no">Postal code</label>
                                        <input readonly id="input-postal-code"
                                            class="form-control form-control-alternative"
                                            placeholder="{{current_user.full_address('pcode')}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <!-- Description -->
                        <div class="row">
                            <div class="col-6">
                                <h6 class="heading-small text-muted mb-4">Order History</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#current_history">Current Orders</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#past_history">Past Orders</a>
                                    </li>
                                  </ul>
                                    <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="current_history" role="tabpanel">
                                        <!--current histoy -->
                                    {% if curren_history_list|length == 0 %}
                                        <div class="row">&nbsp;</div>
                                        <div class="d-flex justify-content-center">
                                            Your history is empty!
                                        
                                        </div>
                                        <div class="row">&nbsp;</div>

                                    {% else %}
                                    <table class="table table-sm">
                                        {% for i in curren_history_list.keys() %}
                                            
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" colspan="2">Order date: {{i}}</th>
                                                <th scope="col" style="text-align: right;">Status: {{curren_history_list[i]["status"]}}</th>
                                            </tr>
                                            </thead>
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col" style="text-align: center;">Quantity</th>
                                                    <th scope="col" style="text-align: right;">Total spend</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td rowspan="{{curren_history_list|length}}" style="text-align: right; color:green; font-weight: bold; ">${{curren_history_list[i]["total_amt"]}}</td>
                                                    </tr>
                                                    {% for name in curren_history_list[i]["products"] %}
                                                        <tr>
                                                            <td>{{name}}</td>
                                                            <td style="text-align: center;">{{curren_history_list[i]["products"][name]}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            
                                        {% endfor %}
                                    </table>
                                    {% endif %}


                                    </div>  
                                    <!--Past histoy -->
                                    <div class="tab-pane fade" id="past_history" role="tabpanel">
                                    {% if past_history_list|length == 0 %}
                                        <div class="row">&nbsp;</div>
                                        <div class="d-flex justify-content-center">
                                            Your history is empty!
                                        
                                        </div>
                                        <div class="row">&nbsp;</div>
                                    {% else %}
                                        <table class="table table-sm">
                                        {% for i in past_history_list.keys() %}
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" colspan="2">Order date: {{i}}</th>
                                                    <th scope="col" style="text-align: right;">Status: {{past_history_list[i]["status"]}}</th>
                                                </tr>
                                                </thead>
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col" style="text-align: center;">Quantity</th>
                                                    <th scope="col" style="text-align: right;">Total spent</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td rowspan="{{past_history_list|length}}" style="text-align: right; color:green; font-weight: bold; ">${{past_history_list[i]["total_amt"]}}</td>
                                                    </tr>
                                                    {% for name in past_history_list[i]["products"] %}
                                                        <tr>
                                                            <td>{{name}}</td>
                                                            <td style="text-align: center;">{{past_history_list[i]["products"][name]}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            
                                        {% endfor %}
                                    </table>
                                    {% endif %}

                                    </div>
                                  </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock content %}
