{% extends 'layouts/base.html' %}
{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        {% from '_formhelpers.html' import render_field %}
        <div class="col-lg-4">
            <h3>Register</h3>
            <form method=post enctype="multipart/form-data">
                <div>
                    {{ render_field(form.username, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}
                </div>
                <p><input type=submit value="Register" class="btn btn-dark mt-2"></p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
<style>
    body {
        overflow: hidden;
    }
</style>