{% extends 'layouts/base.html' %}
{% block title %}
Products
{% endblock title %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h4 class="jumbotron-heading">CART</h4>
    </div>
</section>

<div class="container">
    {% if products %}
    <div class="row">
        <div class="col-12">
            <table class="table table-striped w-auto table-responsive" name="cart">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Name</th>
                        <th class="d-none"></th>
                        <th class="d-none"></th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-right">Sub-Total</th>
                        <th><button class="btn btn-block btn-success text-uppercase"
                                onclick="update_cart()">Update</button></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr id="{{product.uuid}}_row">
                        <td class="col-lg-1"><img class="img-fluid"
                                src="{{url_for('static', filename='media/'+product.img)}}" />
                        </td>
                        <td>{{product.name}}</td>
                        <td class="d-none">{{product.quantity}}</td>

                        <td class="d-none">{{product.uuid}}</td>

                        <td class="text-right">
                            <span>${{"%.2f"|format(product.centprice_final/100)}}</span>
                        </td>

                        <td class="justify-content-center">
                            <div class="input-group mb-12">
                                <select class="custom-select" id="{{product.uuid}}" onchange="change_quantity(this)">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </td>
                        <td id="subtotal" class="text-right">${{"%.2f"|format(product.subtotal/100)}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" id="{{product.uuid}}_"
                                onclick="delete_item(this)"><i class="fa fa-trash"></i>
                            </button> </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="text-right">Total:</td>
                        <td class="text-right">${{"%.2f"|format(total_amt/100)}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-3 mr-auto">
                    <a href="/catalog/?page=0&size=1&filter_by=None&sort_by=None&search="
                        class="btn btn-block btn-light">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-3 ml-auto">
                    <a href="/user/checkout" class="btn btn-md btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h6 class="text-center mb-4">There is nothing in your cart.</h6>
    <div class="text-center">
        <a href="/catalog" class="btn btn-md btn-primary">Shop</a>
    </div>
    {% endif %}
</div>
<script>
    window.onload = function () {
        var element_table = document.getElementsByName("cart");
        var element_tableRows = element_table[0].rows;
        for (var i = 1; i < (element_tableRows.length - 1); i++) {
            var cell = element_tableRows[i].cells;
            var uuid = cell[3].innerHTML;
            var quantity = Number(cell[2].innerHTML);
            document.getElementById(uuid).value = quantity
        }
    };

    function update_cart() {
        location.reload();
    };

    function change_quantity(ele) {
        var uuid = ele.id;
        var quantity = ele.value;
        var items = {
            "id": uuid,
            "quantity": quantity
        };
        fetch(`${window.location.origin}/user/change_quantity_cart`,
            {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(items),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).catch(function (error) {
                console.log("Fetch error: " + error);
            });

    };

    function delete_item(ele) {
        var delet_id = ele.id;
        var postionOf_ = delet_id.lastIndexOf("_");
        var uuid = delet_id.slice(0, postionOf_);
        var Row_id = "#" + uuid + "_row";
        $(Row_id).remove();
        var items = {
            "id": uuid,
        };
        fetch(`${window.location.origin}/user/delete_cart`,
            {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(items),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then(
                response => response.json()
            ).then(function (data) {
                let cart_count = data.item_in_cart;
                if (cart_count == 0) {
                    location.reload();
                } else {
                    document.getElementById("number_of_items").innerHTML = cart_count;
                    console.log(cart_count);
                }
            }).catch(function (error) {
                console.log("Fetch error: " + error);
            });

    };
</script>
{% endblock content %}