{% extends 'layouts/base.html' %}
{% block title %}
Products
{% endblock title %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h4 class="jumbotron-heading">CART</h4>
    </div>
</section>

<div class="container mb-4">
    {% if products %}
    <div class="row">
        <div class="col-12">
            <table class="table table-striped w-auto table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-right">Sub-Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td class="col-1"><img class="img-fluid"
                                src="{{url_for('static', filename='media/'+product.img)}}" />
                        </td>
                        <td>{{product.name}}</td>

                        <td class="text-right">
                            ${{"%.2f"|format(product.centprice_final/100)}}
                        </td>

                        <td class="justify-content-center"><input class="form-control col-3 m-auto" type="number"
                                value="{{product.quantity}}" />
                        </td>
                        <td id="subtotal" class="text-right">${{"%.2f"|format(product.subtotal/100)}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                            </button> </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right">Total:</td>
                        <td class="text-right">${{"%.2f"|format(total_amt/100)}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-3 mr-auto">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-3 ml-auto">
                    <a href="/user/checkout" class="btn btn-md btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h6 class="text-center mb-4">There is nothing in your cart.</h6>
    <div class="text-center">
        <a href="/catalog" class="btn btn-md btn-primary">Shop</a>
    </div>
    {% endif %}
</div>
<script>

</script>
{% endblock content %}